* {
  box-sizing: border-box;
  --header-height: 120px;
  --filter-height : 60px;
}

html {
  --base-color: 242, 244, 246;
  --green-color: 30, 227, 207;
  --purple-color: 107, 72, 255;
  --dark-color: 13, 63, 103;
  --red-color: 205,79,79;
  --spacing: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  margin: 0;
  padding: 0;
  color: var(--dark-color);
  font-size: 18px;
  line-height: 1.5rem;
  background-image: url('./img/images/background_cropped_image.jpg');
  background-position: center;
  background-size: cover;
  background-color: var(--base-color);
  background-repeat: no-repeat;
  height: 100%;
}

[hidden] {
  display: none;
}

a {
  color: var(--dark-color);
}

a:visited,
a:active {
  color: var(--shade-color);
}

header,
main,
nav {
  padding: var(--spacing);
}

nav {
  height: 3em;
}

header {
  background: var(--dark-color);
  color: var(--base-color);
}
